extends base 

block append head
  // SPECIFIC CSS
  link(href='/css/listing.css' rel='stylesheet')

block content
  main
    #stick_here
    .toolbox.elemento_stick
      .container
        ul.clearfix
          li
            a(href='/all?style=grid')
              i.ti-view-grid
            a(href='/all?style=row')
              i.ti-view-list
    // /toolbox
    .container.margin_30
      .row
        aside#sidebar_fixed.col-lg-3
          .filter_col
            .inner_bt
              a.open_filters(href='#')
                i.ti-close
            .filter_type.version_2
              h4
                a.opened(href='#filter_1' data-toggle='collapse') Schedule
              #filter_1.collapse.show
                ul
                  li
                    label.container_check
                      | Latest 
                      small 24
                      input(type='checkbox')
                      span.checkmark
                  li
                    label.container_check
                      | Incoming 
                      small 23
                      input(type='checkbox')
                      span.checkmark
              // /filter_type
            .buttons
              a.btn_1(href='#0') Filter
              a.btn_1.gray(href='#0') Reset
        // /col
        .col-lg-9
          each conference in conferences
            .row.row_item
              .col-sm-4
                figure
                  a(href=`/${conference.slug}.${conference._id}`)
                    img.img-fluid.lazy(src= conference.imageCover data-src='#' alt='')
              .col-sm-8
                p
                  | #{conference.summary}
                ul
                  li
                    a.btn_1(href='#0') Learn more

  script(src='/js/sticky_sidebar.min.js')
  script(src='/js/specific_listing.js')
