extends base 

block content
  main.bg_gray
    .container.margin_30
      .page_header
        h1 Reset mật khẩu
      // /page_header
      .row.justify-content-center
        .col-xl-6.col-lg-6.col-md-8
          .box_account
            h3.client Reset mật khẩu
            form#reset_password
              .form_container
                .form-group
                  input#new_password.form-control(type='password' name='password' placeholder='Mật khẩu mới*')
                .form-group
                  input#confirm_password.form-control(type='password' name='confirm_password' value='' placeholder='Xác nhận lại mật khẩu*')
                .text-center
                  input.btn_1.full-width(type='submit' value='Reset password')
            // /form_container
          // /box_account
      // /row
    // /container