extends base 

block content
  main.bg_gray
    .container.margin_30
      .row.justify-content-center
        .col-xl-6.col-lg-6.col-md-8
          .box_account
            h3.client Đổi mật khẩu
            form#formUpdatePassword
              .form_container
                .form-group
                  input#currentPassword.form-control(type='password' name='currentPassword' placeholder='Mật khẩu hiện tại*' autocomplete="on")
                .form-group
                  input#newPassword.form-control(type='password' name='newPassword' value='' placeholder='Mật khẩu mới*' autocomplete="on")
                .form-group
                  input#newPasswordConfirm.form-control(type='password' name='newPasswordConfirm' value='' placeholder='Nhập lại mật khẩu*' autocomplete="on")
              .text-center
                input.btn_1.full-width(type='submit' value='Update')